<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메인 페이지</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/ajax/booking/css/style.css">
</head>
<body>
 <div id="wrap">
        <header class="d-flex justify-content-center align-items-center">
            <div class="display-4">통나무 팬션</div>
        </header>
        <nav class="main-menu">
            <ul class="nav nav-fill font-weight-bold">
                <li class="nav-item"><a href="#" class="nav-link text-white">팬션소개</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white">객실보기</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white">예약안내</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white">커뮤니티</a></li>
            </ul>
        </nav>
        <section class="contents">
            <article class="banner">
                <img id="bannerImage" alt="패션 전경" src="http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner1.jpg">
                <!-- <button type="button" id="nextBtn">다음</button> -->
            </article>
            <article class="reservation d-flex text-white">
                <div class="booking d-flex justify-content-center align-items-center">
                    <div class="display-4">
                        실시간 <br>
                        예약하기
                    </div>
                </div>
                <div class="confirm p-4">
                    <div>
                        <div class="d-flex align-items-end">
                            <h3 class="mr-4">예약확인</h3>
                        </div>
                        <div class="mt-3" id="nonMemberInput">
                            <div class="d-flex">
                                <label class="col-3 text-right">이름</label><input type="text" class="form-control col-9" id="nameInput">
                            </div>
                            <div class="d-flex mt-2">
                                <label class="col-3 text-right">전화번호</label><input type="text" class="form-control col-9" id="phoneNumberInput">
                            </div>
                        </div>

                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="btn btn-sm btn-success" id="searchBtn">조회 하기</button>
                        </div>
                    </div>
                </div>
                <div class="contact d-flex justify-content-center align-items-center">
                    <div>
                        <h3>예약문의 : </h3>
                        <h1>010- <br>000- 1111</h1>
                    </div>
                </div>
            </article>
        </section>
        <footer>
            <div class="small text-secondary mt-3">
                제주특별자치도 제주시 애월읍 <br>
                사업자등록번호: 111-22-255222 / 농어촌민박사업자지정 / 대표:김통목 <br>
                Copyright 2025 tongnamu All right reserved
            </div>
        </footer>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

        	$("#searchBtn").on("click", function() {
        		
        		let name = $("#nameInput").val();
        		let phoneNumber = $("#phoneNumberInput").val();
        		
        		$.ajax({
        			type:"get"
        			, url:"/ajax/booking/inquire"
        			, data:{"name":name, "phoneNumber":phoneNumber}
        			, success:function(data) {
        				if(data.result != null) {
        					let booking = data.result;
        					alert("이름 : " + booking.name + "\n" + 
        							"날짜 : " + booking.date + "\n" + 
        							"일수 : " + booking.day + "\n" + 
        							"인원 : " + booking.headcount + "\n" + 
        							"상태 : " + booking.state);
        					
        				}else {
        					alert("조회 결과가 없습니다");
        				}
        			}
        			, error: function() {
        				alert("조회 에러!");
        			}
        			
        		});
        		
        		
        	});
        	
        	
            var bannerList = [
                "http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner1.jpg",
                "http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner2.jpg",
                "http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner3.jpg",
                "http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner4.jpg"
            ];

            var currentIndex = 0;

            // 셋 인터벌 함수
            setInterval(function(){
                currentIndex++;
                if(currentIndex == bannerList.length) {
                    currentIndex = 0;
                }
                $("#bannerImage").attr("src", bannerList[currentIndex]);
            }, 3000);
            
            

        });

    </script>

</body>
</html>