<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf 변수와 조건문</title>
</head>
<body>
	
	<h2>Thymeleaf 변수와 조건문</h2>
	
	<th:block th:with="number1=36 , number2=3">
		<h3>1. 변수</h3>
		
		<h4 th:text="|첫번째 숫자 : ${number1}|"></h4>
		<h4 th:text="|두번째 숫자 : ${number2}|"></h4>
		
		<h3>2. 산술연산</h3>
		<h4 th:text="|더하기 : ${number1 + number2}|"></h4>
		<h4 th:text="|빼기 : ${number1 - number2}|"></h4>
		<h4 th:text="|곱하기 : ${number1 * number2}|"></h4>
		<h4 th:text="|나누기 : ${number1 / number2}|"></h4>
		
		<h3>3. 태그 그대로 출력</h3>
		<div th:utext="'<h3>안녕하세요</h3>'"></div>
		
		<h3>4. if와 unless</h3>
		<th:block th:with="average=${(number1 + number2) / 2.0}">
			<h1 th:if="${average >= 10}" th:text="${average}"></h1>
			<h3 th:unless="${average >= 10}" th:text="${average}"></h3>
		</th:block>
	</th:block>


<!-- 
2. 산술 연산
위에서 만든 두 개의 변수의 사칙연산 결과를 아래와 같이 출력하세요.
출력 예시

test1

3. 태그 그대로 출력
해당 태그가 태그로써 기능을 하도록 thymeleaf 로 표현하세요.
<h3>안녕하세요</h3>
출력 예시

test1

4. if와 unless
1번 문제에서 사용한 두 변수의 평균이 10 이상이면 평균 값을 <h1> 태그로 출력하고, 10 미만이면 <h3> 태그로 출력하세요.
출력 예시
 -->


</body>
</html>